.feedbacktypescontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}



.collegefeedback {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add shadow */
    padding: 20px; /* Add padding to create space around the content */
    border-radius: 10px; /* Add border-radius for rounded corners */
    
}

.collegefeedbackimg{
background-image: url('https://tse1.mm.bing.net/th?id=OIP.m95X0h0SS2d5dULOPrq7hgHaJ4&pid=Api&P=0&h=180');
background-size: cover; /* Adjust image size */
background-position: center; /* Center the image */
width: 200px; /* Set width of the image container */
height: 200px; /* Set height of the image container */
}


.facultyfeedback {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add shadow */
    padding: 20px; /* Add padding to create space around the content */
    border-radius: 10px; /* Add border-radius for rounded corners */
}

.facultyfeedbackimg{
background-image: url('https://tse1.mm.bing.net/th?id=OIP.m95X0h0SS2d5dULOPrq7hgHaJ4&pid=Api&P=0&h=180');
background-size: cover; /* Adjust image size */
background-position: center; /* Center the image */
width: 200px; /* Set width of the image container */
height: 200px; /* Set height of the image container */
}


.departmentfeedback {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add shadow */
    padding: 20px; /* Add padding to create space around the content */
    border-radius: 10px; /* Add border-radius for rounded corners */
}

.departmentfeedbackimg{
background-image: url('https://tse1.mm.bing.net/th?id=OIP.m95X0h0SS2d5dULOPrq7hgHaJ4&pid=Api&P=0&h=180');
background-size: cover; /* Adjust image size */
background-position: center; /* Center the image */
width: 200px; /* Set width of the image container */
height: 200px; /* Set height of the image container */
}



/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .collegefeedbackimg,
    .facultyfeedbackimg,
    .departmentfeedbackimg {
        width: 150px; /* Reduce width for smaller screens */
        height: 150px; /* Reduce height for smaller screens */
    }
}

/* Media query for screens smaller than 576px */
@media (max-width: 576px) {
    .collegefeedbackimg,
    .facultyfeedbackimg,
    .departmentfeedbackimg {
        width: 100px; /* Further reduce width for even smaller screens */
        height: 100px; /* Further reduce height for even smaller screens */
    }
}


.feedbackbutton{
    text-align: center;
    padding-top: 0.8rem;
}
